body{
 color:rgb(251, 255, 0);
background:rgb(1, 209, 36);
margin: 0px;
font-family: "Varela Round", sans-serif;
margin-bottom: 100px;
}
header {
    border-bottom: solid 2px rgb(255, 251, 0);
    padding: 20px;
    font-size: 40px;
    color:rgb(250, 246, 3);
}
.chamada{
 background: rgb(255, 157, 112);
 padding-bottom: 80px;
 padding-top: 80px;
 display: flex;
 justify-content: center;
}

.chamada-texto {
 margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

img{
    height: 200px;
}

.categoria-videos{
 display: flex;
 overflow-x: auto;
 gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}

.categoria h2{
    color: gold;
}